body {
    background-color: floralwhite;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000;
    background-image: url(../images/head.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    text-align: left;
    height: 200px;
    margin: 0;
    padding: 0;
}

nav {
    padding: 10px;
}

nav ul {
    margin-left: 20px;
    padding: 0;
    list-style-type: none;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav div {
    color: aliceblue;
    margin-top: 50px;
    margin-left: 12px;
}

header a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}

a:hover {
    text-decoration: underline;
    background: rgb(16, 223, 43);
    border-radius: 2px;
}

section {
    display: flex;
    flex-direction: row;
}

.feature{
    background: rgb(196, 196, 196);
    color: black;
    display: flex;
    padding: 20px;
    flex-direction: row;
    flex-wrap: wrap;
}

footer{
    color: white;
    text-align: center;
    background-color: black;
    width: 100%;
    height: 30px;
    line-height: 30px;
}