<!DOCTYPE html>
<html>
    <head>
        <meta name="charset=UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='Home.CSS') }}">
        <title>QuestionBank</title>
    </head>

    <body>

        <header>
            <nav>
                <ul>
                    <li><a href="{{ url_for('homepage') }}">首页</a></li>
                    <li><a href="{{ url_for('questions') }}" target="_blank">题库</a></li>
                    <li><a href="{{ url_for('competition') }}" target="_blank">比赛</a></li>
                    <li><a href="{{ url_for('release') }}" target="_blank">我要发布</a></li>
                    <div>
                        <li><a href="{{ url_for('login') }}" target="_blank">登录/注册</a></li>
                    </div>
                </ul>
                <div class="spe">
                    <ul>
                        <li><img src="{{ url_for('static', filename='./img/mark.png') }}" width="80px" height=80px" alt="logo"></li>
                        <li><h1>题库</h1></li>
                    </ul>
                </div>
            </nav>
        </header>
   

    <section>
        <ul>
        {% for q in questions %}
            <li style="color: black"><a href="{{ url_for('writeQuestion', Qname=q[0]) }}"><p>题目名称： {{ q[0] }}</p><p>"题目点击量： {{ q[1] }}</p><p>此题被答对的次数：{{ q[2] }}</p><p>题目类型：{{ q[3] }}</p></a></li>
        {% endfor %}
        </ul>
    </section>

    <footer>
        Welcome to contact us with <a href="https://github.com/VisualGMQ" target="view-window">https://github.com/VisualGMQ</a>
    </footer>

    </body>
</html>