* {
	margin: 0;
	padding: 0;
	list-style: none;
}

body {
	overflow: hidden;
	padding: 0;
	margin: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #000;
}

a {
	text-decoration: none;
}

.container {
	width: 1200px;
	height: 870px;
	margin: 0 auto;
	/* 	background: #ccc; */
}

/* 导航 */
.nav {
	margin-top: 10px;
	height: 50px;
	line-height: 50px;
}

.nav ul li {
	float: left;
	font-size: 15px;
}

.nav ul li a {
	text-decoration: none;
	color: #C8CCCF;
	padding: 15px 30px;
}

.nav ul li a:hover {
	border: 2px solid white;
	border-radius: 25px;
	color: white;
}

/* 主题内容 */
.main {
	width: 1200px;
	height: 450px;
}

.center {
	width: 480px;
	height: 450px;
	float: left;
	margin-left: 325px;
}

.center .index {
	width: 550px;
	height: 650px;
	background-color: rgba(255, 255, 255, 0.75);
	margin: 80px 90px;
	margin-top: 100px;
	margin-left: 0;
	border-radius: 8px;
}

.headline {
	font-size: 24px;
	text-align: center;
	padding: 30px;
	padding-bottom: 20px;
}

input[type="text"],
input[type="submit"],
input[type="password"]{
	-web-kit-appearance: none;
	-moz-appearance: none;
	display: block;
	margin: 0 auto;
	font-size: 18px;
}

input[type="text"],
input[type="password"]{
	width: 380px;
	height: 45px;
	border-radius: 8px;
	border: 1px solid #c8cccf;
	color: #6a6f77;
	outline: 0;
	padding-left: 10px;
	padding-right: 10px;
}

input[type="submit"] {
	margin-top: 35px;
	width: 400px;
	height: 45px;
	background: #357eb8;
	color: #bcedff;
	font-weight: bold;
	font-size: 16px;
	border-radius: 8px;
	border: 1px solid #c8cccf;
}

input[type="submit"]:hover {
	background: #0e62a3;
	cursor: pointer;
	border: 2px solid #6A6F77;
}

.astyle {
	margin: 5px 0 5px 74px;
	font-size: 18px;
	color: #6a6f77;
	padding: 8px;
}

.bstyle {
	display: block;
	text-align: center;
	padding-bottom: 10px;
	font-size: 15px;
}

#repasswordCheckBlock{
	color: red;
}

#canvas {
	position: absolute;
	z-index: -1;
	display: block;
}

.github-corner:hover .octo-arm {
	animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {

	0%,
	100% {
		transform: rotate(0)
	}

	20%,
	60% {
		transform: rotate(-25deg)
	}

	40%,
	80% {
		transform: rotate(10deg)
	}
}

@media (max-width:500px) {
	.github-corner:hover .octo-arm {
		animation: none
	}

	.github-corner .octo-arm {
		animation: octocat-wave 560ms ease-in-out
	}
}
